*{
    font-family: Raleway;
}

@media screen and (min-width: 800px) {
    *{
        border: 0;
        margin: 0;
        border-bottom: 0;
        
       
    }
    
    body{  
        position:relative;
    }

    .mainSection{
        width:70% !important;
    }
    
    p{
    margin-bottom: 0 !important;
    }

    #wrapper{
        bottom:0;
    }

    nav{
        border-radius: 0 0 10% 10%;
        justify-content:center !important;
        opacity: 0.9;
    }

    .nav-pills{
    width:auto;
    }

    .navbar-nav p{
        
        color:white;
        margin:10px 40px 10px 40px;
    }

    .nav-link{
        font-family: 'Russo one' !important;
        font-size:20px;
        color: white !important;;
    }

    .nav-link:hover{
        color:lightskyblue !important;
    }

    .nav-item{
        margin-left:25px;
        color: white !important;;
    }



    .mycard{
        position:relative;
        height:400px;
        z-index: 4 !important;
        background:white;
        padding: 20px 20px;
        display: flex;
        flex-direction:row;
        box-shadow: 0 5px 202px rgba(0,0,0,0.5);
        transition:0.3s;
        border-radius: 10px;
        cursor: pointer;
        animation-name: cardAnimation;
        animation-duration: 0.5s;
    }
@keyframes cardAnimation{
    from{
        width:400px;
    }
    to{
        width:100%;
    }
}


    html {
        scroll-padding-top: 150px;
    }

.mycard .imgbox{
    position:relative;
    text-align: center;
    width:400px;
    height:400px;
}

.mycard .imgbox img{
    width:360px;
    border-radius: 4px;

}

.card-title{

    color: black !important;
}

.card-text{
    color: black !important;;
    margin-top: 30px;
}

@keyframes cardContentAnimation{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}


.card-body{
    overflow: hiden;
    position:relative;
    margin-top: 50px;
    padding: 10px 15px;
    text-align: center;
    color:white;
    opacity:1;
    transition:0.3s ease-in;
    animation: 0.5s cardAnimation ;

    }

  

    #bottom{
        bottom:0;

    }

    .card-body h1{
        opacity: 0;
        animation: cardContentAnimation 1s linear !important;
        animation-fill-mode: forwards !important;
        animation-delay: 0.5s !important;
        color:black !important;
        
    }
    h3{
        color:white !important;
    }

    .card-body p {
        opacity: 0;
        animation: cardContentAnimation 1s linear !important;
        animation-fill-mode: forwards !important;
        animation-delay: 0.5s !important;
        color:black;
        margin-top: 20px;  
        font-size: 20px;
        margin-left: 20px;
    }

    #main li{
    font-size:large;
    color:white;
    list-style:none;
        margin-left:20px;
        margin-right:20px;
        padding: 10px;
        display: block;

    }
    .row{
    margin-top: 10px !important;
    font-size:20px;
    }
    h3{
    margin-top:30px !important;;
    }
    
    h4{
        color:white;
    }

    /* bottom*/
    #bottom {
        position: sticky!important;
        width: 8%;
        margin-left: 92%;
        top:0;
        height: auto;
        background-color: white;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        /* create a gradient border with top content */
        border-top-left-radius: 20px;
        border-top-right-radius: 1px;
        display:flex;
        flex-direction: row;
        transition:0.3s;
        box-shadow:  5px 5px 30px 10px rgba(0,0,0,0.5);
        }
    /*
    #sociallinks{
    margin-top:10px;
    }
    #sociallinks a{
    display:inline-block;
    margin-left:10px;
    }
    #sociallinks a:hover{
    color:white;
    }*/

    #sociallinks{
        display:flex;
        flex-direction: column;
    
    }


    /* when mouse hover the social links, the image will change */
    #sociallinks a img{
        transition:0.1s
    }

    #sociallinks a:hover img{
        transform:scale(1.2);
    }

    .col-sm-10{
        width: 100% !important;
        border-radius: 10px;
        padding: 10px;
        cursor:pointer;
        color:white;
    }

    *{
        transition:0.1s;
    }

    .rightMost{
        margin-right:0px;
        display: absolute;
        left:100px;
        width: 100%;
        display:flex;
        justify-content: flex-end;
        color:white;
    }

    .row{
        box-shadow:  5px 5px 30px 10px rgba(0,0,0,0.5) !important;
        cursor:pointer;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px!important;
        border : 1px solid white;
        border-radius: 10px;
        padding:20px
    }

    .row:hover{
        box-shadow:  5px 5px 30px 10px rgba(0,0,0,0.5);
    }


    hr{
        margin-top: 40px !important;
        border: 0;
        border-top: 1px solid #eee;
    }

    #sendQuestionWrapper{

        margin-top: 50px;
        position:relative;
        height:100%;
        opacity: 0;
        z-index: 0 !important;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: sendQuestionAnimation 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
        animation-fill-mode: forwards !important;
        animation-delay: 1s !important;
    }

    @keyframes sendQuestionAnimation {
        0%{

            transform: translateY(-25vw);
        }
        100%{
            opacity: 1;
            transform: translateY(0vw);
        }
        
    }

    #sendQuestionWrapper form{
        padding:20px;
        border-radius: 10px;
        box-shadow:  5px 5px 30px 10px rgba(0,0,0,0.5);
        background-color:white;
        display:flex;
        flex-direction: column;
        width:60%
    }

    #sendQuestionWrapper form input{
        margin-top:10px;
        border-radius: 10px;
        border: 1px solid #eee;
        padding:10px;
        width:100%;
        color: black !important;
        font-size:large;
    }

    #sendQuestionWrapper form :nth-child(3){
        margin-top: 10px;
        border-radius: 10px;
        border: 1px solid #eee;
        padding:10px;
        width:100%;
        color: black !important;
        height:100px;
        font-size:large;
    }

    #sendQuestionWrapper form button{
        margin-top:15px;
        border-radius: 10px;
        border: 1px solid #eee;
        font-size: large;
        width:100%;
        background-color: white;
        color: black !important;
        transition:0.2s;
        overflow: hidden!important;
    }

    #sendQuestionWrapper form button::after{
        content: "Send";
        font-family: "Russo One" !important;
        text-align: center;
        line-height: 30px;
        font-size: 30px;
        transition: 0.2s;
    }

    #sendQuestionWrapper form button::before{
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        content: ">>";

        width: 50px;
        left:-300px;
        position:relative;
        transition: 0.2s;
    }

    #sendQuestionWrapper form button:hover{
        background-color:lightgreen;
    }


    #sendQuestionWrapper form button:hover::after{
        margin-left:900px;
        
    }

    #sendQuestionWrapper form button:hover::before{
        left:90%
        
    }




}
  


@media screen and (max-width: 800px) {
    *{
        border: 0;
        margin: 0;
        border-bottom: 0;
        color:white;
       
    }
        
    body{
        position:relative;
    }
    .mainSection{
        width:100% !important;
    }
    
    p{
    margin-bottom: 0 !important;
    }

    #wrapper{
        bottom:0;
    }

    nav{
    justify-content:center !important;
    opacity: 0.9;
    }

    .nav-pills{
    width:auto;
    }

    .navbar-nav{
        display: flex;
        flex-direction: column;
        width: 10%;
    }
    .navbar-nav p{
        color:white;
        margin:10px 40px 10px 40px;
    }

    .nav-link{
        font-size:20px;
        color: white !important;;
    }


    .nav-item{
        margin-left:25px;
        color: white !important;;
    }
    .shake span{
        
        display: none;
    }


    .mycard{
        position:relative;
        height:auto;
        z-index: 3 !important;

        background:white;
        padding: 20px 20px;
        display: flex;
        flex-direction:row;
        box-shadow: 0 5px 202px rgba(0,0,0,0.5);
        transition:0.3s;
        border-radius: 10px;
        cursor: pointer;
    }

    html {
        scroll-padding-top: 150px;
    }


    .mycard .imgbox{
        position:relative;
        text-align: center;
        width:100%;
        height:100%;
    }

    .mycard .imgbox img{
        width:100%;
        border-radius: 4px;
    }

    .card-title{
        color: black !important;
    }

    .card-text{
        color: black !important;;
        margin-top: 30px;
    }

    .card-body{
        overflow: hiden;
        position:relative;
        margin-top: 50px;
        padding: 10px 15px;
        text-align: center;
        color:white;
        visibility: hidden;
        opacity:0;
        transition:0.3s ease-in;

        transition:0.1s ease-out;


    }
    #bottom{
        bottom:0;

    }

    h1{
        color:white !important;
    }

    h3{
        color:white !important;
    }

    .card-body p {
        color:white;
        margin-top: 20px; 
        font-size: 20px;
        margin-left: 20px;
    }

    #main li{
    font-size:large;
    color:white;
    list-style:none;
        margin-left:20px;
        margin-right:20px;
        padding: 10px;
        display: none;

    }
    .row{
    margin-top: 10px !important;
    font-size:20px;
    }
    h3{
    margin-top:30px !important;;
    }

    /* bottom*/
    #bottom {
        position: sticky!important;
        width: 8%;
        margin-left: 92%;
        top:0;
        height: auto;
        background-color: white;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        /* create a gradient border with top content */
        border-top-left-radius: 20px;
        border-top-right-radius: 1px;
        display:flex;
        flex-direction: row;
        transition:0.3s;
        box-shadow:  5px 5px 30px 10px rgba(0,0,0,0.5);
        }
    /*
    #sociallinks{
    margin-top:10px;
    }
    #sociallinks a{
    display:inline-block;
    margin-left:10px;
    }
    #sociallinks a:hover{
    color:white;
    }*/

    #sociallinks{
        display:flex;
        flex-direction: column;
    
    }


    /* when mouse hover the social links, the image will change */
    #sociallinks a img{
        transition:0.1s
    }

    #sociallinks a:hover img{
        transform:scale(1.2);
    }

    .col-sm-10{
        width: 100% !important;
        border-radius: 10px;
        padding: 10px;
        cursor:pointer;
        color:white;
        font-family: 'Lato' !important;
    }

    *{
        transition:0.1s;
    }

    .rightMost{
        margin-right:0px;
        display: absolute;
        left:100px;
        width: 100%;
        display:flex;
        justify-content: flex-end;
        color:white;
    }

    .row{
        box-shadow:  5px 5px 30px 10px rgba(0,0,0,0.5) !important;
        cursor:pointer;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px!important;
        border : 1px solid white;
        border-radius: 10px;
        padding:20px;
    }

    .row:hover{
        box-shadow:  5px 5px 30px 10px rgba(0,0,0,0.5);
    }


    hr{
        margin-top: 40px !important;
        border: 0;
        border-top: 1px solid #eee;
    }

    #sendQuestionWrapper{

        margin-top: 50px;
        position:relative;
        height:100%;

        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sendQuestionWrapper form{
        padding:20px;
        border-radius: 10px;
        box-shadow:  5px 5px 30px 10px rgba(0,0,0,0.5);
        background-color:white;
        display:flex;
        flex-direction: column;
        width:100%
    }

    #sendQuestionWrapper form input{
        margin-top:10px;
        border-radius: 10px;
        border: 1px solid #eee;
        padding:10px;
        width:100%;
        color: black !important;
        font-family:'sans-serif';
        font-size:large;
    }

    #sendQuestionWrapper form :nth-child(3){
        margin-top: 10px;
        border-radius: 10px;
        border: 1px solid #eee;
        padding:10px;
        width:100%;
        color: black !important;
        font-family:'sans-serif';
        height:100px;
        font-size:large;
    }

    #sendQuestionWrapper form button{
        margin-top:15px;
        border-radius: 10px;
        border: 1px solid #eee;
        font-size: large;
        width:100%;
        background-color: white;
        color: black !important;
        transition:0.2s;
        overflow: hidden!important;
    }

    #sendQuestionWrapper form button::after{
        content: "Send!";
        text-align: center;
        line-height: 30px;
        font-size: 30px;
        transition: 0.2s;
    }

    #sendQuestionWrapper form button::before{
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        content: ">>";

        width: 50px;
        left:-300px;
        position:relative;
        transition: 0.2s;
    }




}
